<div class="version">
  <div class="grid-row">

    <div class="mt1"></div>

    <div class="column-third">
      <p class="mb0">Version</p>
      <h3 class="heading-medium mt0 mb0">Prototype v3</h3>
    </div>

    <div class="column-third">
      <p class="mb0">Date of release</p>
      <h3 class="heading-medium mt0 mb0">3rd April 2017</h3>
    </div>

    <div class="column-third">
      <details>
        <summary><span class="summary">Quick links</span></summary>
        <div class="quicklinks">
          <ul>
            <a href="/smits/v3/login">Login</a><br />
            <a href="/smits/v3/search">Search</a><br />
            <a href="/smits/v3/search-none">Search (none found)</a><br />
            <a href="/smits/v3/person-1?nino=QQ122334C">Person (example 1)</a><br />
            <a href="/smits/v3/person-2?nino=QQ122334C">Person (example 2)</a><br />
            <a href="/smits/v3/person-3?nino=QQ122334C">Person (example 3)</a><br />
            <a href="/smits/v3/upload">Upload data</a><br />
            <a href="/smits/v3/upload-error">Upload (error message)</a><br />
            <a href="/smits/v3/upload-results">Upload (success)</a><br />
            <a href="/smits/v3/tranche">Create tranche</a><br />
            <a href="/smits/v3/tranche-created">Tranche created</a><br />
          </ul>
        </div>
      </details>
    </div>

    <div class="column-two-thirds">
      <a href="/smits/v3/login" class="button button-start mth mb1">Launch prototype</a>
      <h3 class="heading-small mth">Changes Made</h3>
      <ul class="list list-bullet changes mb1">
        <li>Added a page to perform the manual updates to the people pages.</li>
      </ul>
    </div>

  </div><!-- row -->
</div><!-- version -->
