{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <form class="form" action="tranche-check" method="get">

  <div class="main-content">
    <div class="grid-row">

      <div class="column-full">

        <div class="panel panel-border-wide alert-success" style="margin-top:20px;">
          <p>Tranche created</p>
        </div>

        <h1 class="heading-large">Tranches</h1>

        <table>
          <thead>
            <tr>
              <th class="first" scope="col">name</th>
              <th scope="col">created by</th>
              <th class="numeric" scope="col">letter provider</th>
              <th class="numeric" scope="col">information provider</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="first">tranche_12112017</td>
              <td>Marjory Fillibuster</td>
              <td class="numeric" ><a href="#">data file</a></td>
              <td class="numeric" ><a href="#">data file</a></td>
            </tr>
            <tr>
              <td class="first">tranche_23072017</td>
              <td>Engelbert Humperdinck</td>
              <td class="numeric" ><a href="#">data file</a></td>
              <td class="numeric" ><a href="#">data file</a></td>
            </tr>
            <tr>
              <td class="first">tranche_12082017</td>
              <td>Engelbert Humperdinck</td>
              <td class="numeric" ><a href="#">data file</a></td>
              <td class="numeric" ><a href="#">data file</a></td>
            </tr>
          </tbody>
        </table>

      </div><!-- column -->
    </div><!-- row -->
  </div><!-- .main-content -->
  </form>
</main>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
$(document).on('ready',function()
{
  $('tr').eq(1).css('backgroundColor','hsl(39,100%,64%');

  var d = 500;
  for(var i=64; i<=100; i=i+0.1){
    d  += 3;
    (function(ii,dd){
        setTimeout(function(){
            $('tr').eq(1).css('backgroundColor','hsl(39,100%,'+ii+'%)');
        }, dd);
    })(i,d);
  }
});
</script>
{% endblock %}
