{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'search' %}
  {% include path+"/inc/main_nav.html" %}

  <form class="form" action="cohort-check" method="get">

  <div class="main-content">
    <div class="grid-row">

      <div class="column-full">

        <h1 class="heading-large">Cohorts</h1>

        <table>
          <thead>
            <tr>
              <th class="first" scope="col">Name</th>
              <th scope="col">Created by</th>
              <th class="numeric" scope="col">Letter provider</th>
              <th class="numeric" scope="col">Information provider</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="first">cohort_12112017</td>
              <td>Marjory Fillibuster</td>
              <td class="numeric" ><a href="#">data file</a></td>
              <td class="numeric" ><a href="#">data file</a></td>
            </tr>
            <tr>
              <td class="first">cohort_23072017</td>
              <td>Engelbert Humperdinck</td>
              <td class="numeric" ><a href="#">data file</a></td>
              <td class="numeric" ><a href="#">data file</a></td>
            </tr>
            <tr>
              <td class="first">cohort_12082017</td>
              <td>Engelbert Humperdinck</td>
              <td class="numeric" ><a href="#">data file</a></td>
              <td class="numeric" ><a href="#">data file</a></td>
            </tr>
          </tbody>
        </table>

      </div><!-- column -->
    </div><!-- row -->
  </div><!-- .main-content -->
  </form>
</main>
{% endblock %}
