{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'claimant' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        <div class="fright">
          <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>
        </div>    

        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Jamie Rees
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>



        <form class="form">

          <div class="grey-box">

            <h2 class="heading-medium mtq">What's happened?</h2>

            <div class="grid-row">
                <div class="column-two-thirds">

                <div class="form-group">
                  <!-- LOAN AGREEMENT -->
                  <label for="loan_agg" class="block-label selection-button-checkbox" data-target="loan_agg_status">
                    <input id="loan_agg" type="checkbox" name="you-contact-pref" value="email">
                    Loan agreement
                  </label>
                  <fieldset class="mt1 js-hidden" id="loan_agg_status">
                    <div class="panel form-group panel-indent mid-form">
                      <label class="form-label" for="email-address">New status</label>
                      <select class="form-select mb0" >
                          <option>Received complete by Department</option>
                          <option>Returned to claimant (incomplete)</option>
                          <option>Re-issue required (received incorrect)</option>
                          <option>Re-issue required (requested by claimant)</option>
                          <option>Initial issue required (change of mind)</option>
                      </select>
                    </div>
                  </fieldset>

                  <!-- Charge Doc -->
                  <label for="chareg_doc" class="block-label selection-button-checkbox" data-target="chareg_doc_status">
                    <input id="chareg_doc" type="checkbox" name="you-contact-pref" value="email">
                    Charge form
                  </label>
                  <fieldset class="mt1 js-hidden" id="chareg_doc_status">
                    <div class="panel form-group panel-indent mid-form">
                      <label class="form-label" for="email-address">New status</label>
                      <select class="form-select mb0" >
                          <option>Received complete by Department</option>
                          <option>Returned to claimant (incomplete)</option>
                          <option>Re-issue required (received incorrect)</option>
                          <option>Re-issue required (requested by claimant)</option>
                          <option>Initial issue required (change of mind)</option>
                        </select>
                    </div>
                  </fieldset>

                  <!-- Change Mind -->
                  <label for="mind_change" class="block-label selection-button-checkbox" data-target="mind_change_status">
                    <input id="mind_change" type="checkbox" name="you-contact-pref" value="email">
                    Change of mind
                  </label>
                  <fieldset class="mt1 js-hidden" id="mind_change_status">
                    <div class="panel form-group panel-indent mid-form">
                      <label class="form-label" for="email-address">New status</label>
                      <select class="form-select mb0" >
                        <option>Declined</option>
                        <option>Agreed - forms completed previously</option>
                        <option>Undecided</option>
                      </select>
                    </div>
                  </fieldset>       

                  <!-- Full re-referral required -->
                  <label for="full-ref" class="block-label selection-button-checkbox" data-target="full-ref_status">
                    <input id="full-ref" type="checkbox" name="you-contact-pref" value="email">
                    Full re-referral required
                  </label>
                  </fieldset>                                                                                   

                </div><!-- form-group -->               

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Date</span></legend>
                    <div class="form-date">
                      <div class="form-group form-group-day">
                        <label class="form-label" for="dob-day">Day</label>
                        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                      </div>
                      <div class="form-group form-group-month">
                        <label class="form-label" for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                      </div>
                      <div class="form-group form-group-year">
                        <label class="form-label" for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <p class="mth mb0"><a href="person-1_donestatus" class="button">Save and continue</a></p>

              </div><!-- column --> 
                  
            </div><!-- row -->

          </div><!-- grey-box -->

          <!-- Re-referral -->
<!--
          <div class="grey-box cf">

          <h2 class="heading-medium mtq">Re-referral</h2>

            <div class="form-group mb0">
              <fieldset>
                      <select class="form-select mb0" >
                        <option>------</option>
                        <option>Form incomplete / filled incorrectly</option>
                        <option>Claimant has changed their mind</option>
                        <option>Claimant has requested a re-issue of the forms</option>
                      </select>
                </fieldset>  
                
                <p class="mth mb0"><a href="person-1_donestatus" class="button">Confirm and continue</a></p>                  
            </div>
          </div>

        </form>-->

      </div><!-- column -->   

      <div class="column-one-third">
        <div class="fright-hold">
         <a href="person-1_donestatus" class="button-secondary" type="submit" value="Put on hold">Put on hold</a>
        </div> 
    </div><!-- row -->   

    </div><!-- row -->  


  </div>
</main>
{% endblock %}
