{% extends path+"/inc/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% set currentPage = 'claimant' %}
  {% include path+"/inc/main_nav.html" %}

  <div class="main-content">
    <div class="grid-row">

      <div class="column-two-thirds">

        <div class="fright">
          <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>
        </div>

        <h1 class="heading-xlarge" style="margin-bottom:30px">
          Jamie Rees
          <span class="heading-secondary">{{ nino | default('QQ123456C',true) }}</span>
        </h1>

        <form class="form">

          <div class="grey-box">

            <h2 class="heading-medium mtq">Update status</h2>

            <div class="grid-row">
              <div class="column-half">

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Loan agreement</span></legend>
                    <select class="form-select mb0" >
                      <option> - - - - </option>
                      <option>Returned complete</option>
                      <option>Returned to customer</option>
                    </select>
                  </fieldset>
                </div>

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Charge form</span></legend>
                    <select class="form-select mb0" >
                      <option> - - - - </option>
                      <option>Returned complete</option>
                      <option>Returned to customer</option>
                    </select>
                  </fieldset>
                </div>

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Other status</span></legend>
                    <select class="form-select mb0" >
                      <option> - - - - </option>
                      <option>Declined - Change of Mind</option>
                      <option>Agreed - Change of Mind</option>
                      <option>Declined - Forms Not Returned</option>
                      <option>Undecided</option>
                    </select>
                  </fieldset>
                </div>

              </div><!-- column -->
              <div class="column-half">

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Date</span></legend>
                    <div class="form-date">
                      <div class="form-group form-group-day">
                        <label class="form-label" for="dob-day">Day</label>
                        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                      </div>
                      <div class="form-group form-group-month">
                        <label class="form-label" for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                      </div>
                      <div class="form-group form-group-year">
                        <label class="form-label" for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <p class="mth mb0"><a href="person-1_donestatus" class="button">Save and Continue</a></p>

              </div><!-- column -->
            </div><!-- row -->

          </div><!-- grey-box -->

          {# <div class="grey-box cf">
            <div class="form-group mb0">
              <fieldset>
                <legend><span class="form-label-bold">Link to Loan Agreement</span></legend>
                <input class="form-control mb0" name="loan_agreement_link" style="width:75%"/>
              </fieldset>
              <p class="mth mb0"><a href="person-1_donelink" class="button">Save link</a></p>
            </div>
          </div> #}

          {# <div class="grey-box cf">
            <div class="form-group mb0">
              <fieldset>
                <legend><span class="form-label-bold">Link to Change form</span></legend>
                <input class="form-control mb0" name="loan_agreement_link" style="width:75%"/>
              </fieldset>
              <p class="mth mb0"><a href="person-1_donelink" class="button">Save link</a></p>
            </div>
          </div> #}

        </form>

      </div><!-- column -->

      <div class="column-third">


      </div><!-- column -->

    </div><!-- row -->
  </div>
</main>
{% endblock %}
