{% extends "layout.html" %}

{% block content %}

<div class="index">

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">Support for Mortgage Interest</h1>
    <h2 class="heading-large index-heading-large">Prototypes</h2>
  </div>
</div>

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row mt1">

        <div class="column-third">
          <p class="mb0">Current version</p>
          <h3 class="heading-medium mt0">Prototype 2</h3>
        </div>

        <div class="column-third">
          <p class="mb0">Date of release</p>
          <h3 class="heading-medium mt0">20th March 2017</h3>
        </div>

        <div class="column-third">
          <details>
            <summary><span class="summary">Quick links</span></summary>
            <div class="quicklinks">
              <ul>
                <a href="/v2/search">Search</a><br />
                <a href="/v2/search-none">Search (none found)</a><br />
                <a href="/v2/person-1?nino=QQ122334C">Person (example 1)</a><br />
                <a href="/v2/person-2?nino=QQ122334C">Person (example 2)</a><br />
                <a href="/v2/person-3?nino=QQ122334C">Person (example 3)</a><br />
                <a href="/v2/upload">Upload data</a><br />
                <a href="/v2/upload-error">Upload (error message)</a><br />
                <a href="/v2/upload-results">Upload (success)</a><br />
                <a href="/v2/tranche">Create tranche</a><br />
                <a href="/v2/tranche-created">Tranche created</a><br />
              </ul>
            </div>
          </details>
        </div>

        <div class="column-full">

          <a href="/v2/search" class="button button-start">Launch prototype</a>

          <h3 class="heading-medium mt1 mb0">Changes Made</h3>
          <ul class="list list-bullet changes mb1">
            <li>&nbsp;</li>
          </ul>

        </div>

    </div>

    <div class="grid-row">
      <div class="column-full">

        <div style="border-bottom: 1px solid #bfc1c3;">&nbsp;</div>
        <h2 class="heading-medium">Older versions</h2>

        <details>
          <summary><span class="summary">View older prototypes</span></summary>
          <div>

            <!--- START OF VERSIONS --->
            {% include "v1/inc_index.html" %}

            <!--- END OF VERSIONS --->
          </div>
        </details>

      </div><!-- column -->
    </div><!-- row -->

</main>

</div><!-- .index -->
{% endblock %}
