{% extends "layout.html" %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="main-content">

    <div class="grid-row">
      <div class="column-full">

        <h1 class="heading-xlarge">
          Support for mortgage interest
          <span class="heading-secondary">Prototype</span>
        </h1>

        <h2 class="heading-medium">version 1</h2>
        <ul class="list">
          <li><a href="/v1/search">Search</a></li>
          <li><a href="/v1/upload">Upload</a></li>
          <li><a href="/v1/person?nino=QQ122334C">Person 1</a></li>
          <li><a href="/v1/person-2?nino=QQ122334C">Person 2</a></li>
          <li><a href="/v1/person-3?nino=QQ122334C">Person 3</a></li>
        </ul>

      </div><!-- column -->
    </div><!-- row -->

  </div>
</main>
{% endblock %}
